{% extends 'wrapper.html' %}
{% load static %}

{% block content %}
			<!--Main Start-->
			<main id="wt-main" class="wt-main wt-haslayout wt-innerbgcolor">
				<!--Register Form Start-->
				<div class="wt-haslayout wt-main-section">
					<div class="container">
						<div class="row justify-content-md-center">
							<div class="col-xs-12 col-sm-12 col-md-10 push-md-1 col-lg-8 push-lg-2">
								<div class="wt-registerformhold">
									<div class="wt-registerformmain">
										<div class="wt-registerhead">
											<div class="wt-title">
												<h3>Join For a Good Start</h3>
											</div>
											<div class="wt-description">
												<p>Consectetur adipisicing elit sed dotem eiusmod tempor incune utnaem labore etdolore maigna aliqua enim poskina</p>
											</div>
										</div>
										<div class="wt-joinforms">
											<ul class="wt-joinsteps">
												<li class="wt-active"><a href="{% url 'register' %}?step=1">01</a></li>
												<li><a href="{% url 'register' %}?step=2">02</a></li>
												<li><a href="javascrip:void(0);">03</a></li>
												<li><a href="javascrip:void(0);">04</a></li>
											</ul>
											<form class="wt-formtheme wt-formregister" action="{% url 'register' %}" method="post">
                                                {% csrf_token %}
												<fieldset class="wt-registerformgroup">
													<div class="form-group wt-form-group-dropdown form-group-half">
														<span class="wt-select">
															<select name="Sex">
																<option value="1">mr.</option>
																<option value="0">mrs</option>
															</select>
														</span>
														<input type="text" name="First_Name" class="form-control {% if errors %} {% if errors.First_Name %}border-danger{% else %} border-success {% endif %}{% endif %}" {% if request.session.registration.First_Name %} value="{{ request.session.registration.First_Name }}" {% endif %} placeholder="First Name">
													</div>
													<div class="form-group form-group-half">
														<input type="text" name="Last_Name" class="form-control {% if errors %} {% if errors.Last_Name %}border-danger {% else %} border-success {% endif %}{% endif %}" {% if request.session.registration.Last_Name %} value="{{ request.session.registration.Last_Name }}" {% endif %} placeholder="Last Name">
													</div>
													<div class="form-group">
														<input type="text" name="Email" class="form-control {% if errors %} {% if errors.Email %}border-danger{% else %}border-success {% endif %}{% endif %}" {% if request.session.registration.Email %} value="{{ request.session.registration.Email }}" {% endif %} placeholder="Email">
													</div>
													<div class="form-group">
														<button type="submit" class="wt-btn">Start Now</button>
													</div>
												</fieldset>
											</form>
											<div class="wt-joinnowholder">
												<div class="wt-title">
													<h4>Join Now With</h4>
												</div>
												<div class="wt-description">
													<p>Use a social account for faster login or easy registration to directly get in to your account and start a good business</p>
												</div>
												<ul class="wt-socialicons wt-iconwithtext">
													<li class="wt-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook-f"></i><em>Facebook</em></a>
													</li>
													<li class="wt-twitter"><a href="javascript:void(0);"><i class="fab fa-twitter"></i><em>Twitter</em></a></li>
													<li class="wt-googleplus"><a href="javascript:void(0);"><i class="fab fa-google-plus-g"></i><em>Google</em></a></li>
													<li class="wt-instagram"><a href="javascript:void(0);"><i class="fab fa-instagram"></i><em>Instagram</em></a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="wt-registerformfooter">
										<span>Already Have an Account? <a href="javascript:void(0);">Login Now</a></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--Register Form End-->
			</main>
			<!--Main End-->
{% endblock %}