{% extends 'wrapper.html' %}
{% load static %}
{% load qr_code %}


{% block content %}
			<!--Main Start-->
			<main id="wt-main" class="wt-main wt-haslayout wt-innerbgcolor">
				<div class="wt-haslayout wt-main-section">
					<!-- User Listing Start-->
					<div class="container">
						<div class="row">
							<div id="wt-twocolumns" class="wt-twocolumns wt-haslayout">
								<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left">
									<div class="wt-proposalholder">
										<span class="wt-featuredtag"><img src="{% static 'images/featured.png' %}" alt="img description" data-tipso="Plus Member" class="template-content tipso_style"></span>
										<div class="wt-proposalhead">
											<h2>{{ object.title }}</h2>
											<ul class="wt-userlisting-breadcrumb wt-userlisting-breadcrumbvtwo">
                                                        <li><span><i class="fa fa-dollar-sign wt-viewjobdollar"></i>Payment: {{ object.money }} {{ object.currency }}</span></li>
														<li><span><i class="far fa-folder wt-viewjobfolder"></i>Type: {{ object.type_of_work }}</span></li>
														<li><span><i class="far fa-clock wt-viewjobclock"></i>Duration: {{object.duration}}</span></li>
											</ul>
										</div>
										<div class="wt-btnarea"><a href="{% url 'proposal-add' object.id %}" class="wt-btn">Send Proposal</a></div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-8 float-left">
									<div class="wt-projectdetail-holder">
										<div class="wt-projectdetail">
											<div class="wt-title">
												<h3>Project Detail</h3>
											</div>
											<div class="wt-description">
												{{ object.text }}
											</div>
										</div>
										<div class="wt-skillsrequired">
											<div class="wt-title">
												<h3>Skills Required</h3>
											</div>
											<div class="wt-tag wt-widgettag">
                                            {% if object.skills %}
												{% for skill in object.skills.all %}
                                                <a href="#">{{ skill }}</a>

                                                {% endfor %}
                                            {% endif %}
											</div>
										</div>
										<div class="wt-attachments">
											<div class="wt-title">
												<h3>Attachments</h3>
											</div>
											<ul class="wt-attachfile">
                                            {% if object.attachments %}
                                                {% for attachment in object.attachments.all  %}
												<li>
													<span>{{ attachment.file.name }}</span>
													<em>File size: {{ attachment.file.size }} kb<a href="{{attachment.file.url}}"><i class="lnr lnr-download"></i></a></em>
												</li>
											{% endfor %}
                                            {% endif %}
                                            </ul>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-4 float-left">
									<aside id="wt-sidebar" class="wt-sidebar">
										<div class="wt-proposalsr">
											<div class="wt-proposalsrcontent">
												<span class="wt-proposalsicon"><i class="fa fa-angle-double-down"></i><i class="fa fa-newspaper"></i></span>
												<div class="wt-title">
													<h3>{{ object.proposals.count}}</h3>
													<span>Proposals Received Till<em>June 27, 2018</em></span>
												</div>
											</div>
											<div class="tg-authorcodescan">
												<figure class="tg-qrcodeimg">
													{% qr_from_text object.id size='T' %}
												</figure>
												<div class="tg-qrcodedetail">
													<span class="lnr lnr-laptop-phone"></span>
													<div class="tg-qrcodefeat">
														<h3>Scan with your <span>Smart Phone </span> To Get It Handy.</h3>
													</div>
												</div>
											</div>
											<div class="wt-clicksavearea">
												<span>Job ID: {{ object.id }}</span>
												<a href="javascrip:void(0);" class="wt-clicksavebtn"><i class="far fa-heart"></i> Click to save</a>
											</div>
										</div>
										<div class="wt-widget wt-companysinfo-jobsingle">
											<div class="wt-companysdetails">
												<figure class="wt-companysimg">
													<img src="{{ company.bannerMini.url }}" alt="img description">
												</figure>
												<div class="wt-companysinfo">
													<figure><img src="{{ company.logo.url }}" alt="img description"></figure>
													<div class="wt-title">
														<a href="javascript:void(0);"><i class="fa fa-check-circle"></i>{% if company.verified %} Verified Company{% endif %}</a>
														<h2>{{ company.name }}</h2>
													</div>
													<ul class="wt-postarticlemeta">
														<li>
															<a href="javascript:void(0);">
																<span>Open Jobs</span>
															</a>
														</li>
														<li>
															<a href="{% url 'employer-detail' company.id %}">
																<span>Full Profile</span>
															</a>
														</li>
														<li class="wt-following">
															<a href="javascript:void(0);">
																<span>Following</span>
															</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
										<div class="wt-widget wt-sharejob">
											<div class="wt-widgettitle">
												<h2>Share This Job</h2>
											</div>
											<div class="wt-widgetcontent">
												<ul class="wt-socialiconssimple">
														<li class="wt-facebook"><a href="{{ object.social_facebook }}"><i class="fab fa-facebook-f"></i>Share on Facebook</a></li>
														<li class="wt-twitter"><a href="{{ object.social_twitter }}"><i class="fab fa-twitter"></i>Share on Twitter</a></li>
														<li class="wt-linkedin"><a href="{{ object.social_linkedin }}"><i class="fab fa-linkedin-in"></i>Share on Linkedin</a></li>
													</ul>
											</div>
										</div>
										<div class="wt-widget wt-reportjob">
											<div class="wt-widgettitle">
												<h2>Report This Job</h2>
											</div>
											<div class="wt-widgetcontent">
												<form class="wt-formtheme wt-formreport">
													<fieldset>
														<div class="form-group">
															<span class="wt-select">
																<select>
																	<option value="Reason">Select Reason</option>
																	<option value="Reason1">Reason 1</option>
																	<option value="Reason2">Reason 2</option>
																</select>
															</span>
														</div>
														<div class="form-group">
															<textarea class="form-control" placeholder="Description"></textarea>
														</div>
														<div class="form-group wt-btnarea">
															<a href="javascrip:void(0);" class="wt-btn">Submit</a>
														</div>
													</fieldset>
												</form>
											</div>
										</div>
									</aside>
								</div>
							</div>
						</div>
					</div>
					<!-- User Listing End-->
				</div>
			</main>
			<!--Main End-->
{% endblock %}